{% extends 'base.html.twig' %}

{% block title %}Categories index{% endblock %}

{% block body %}
    <h1>Categories index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LibelleCategorie</th>
                <th>Categorie Mere</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.libelleCategorie }}</td>
                {% if category.categorieMere != null %}
                     <td>{{ category.categorieMere.libelleCategorie }}</td>
                {% else %}
                    <td>Pas de categorie Mere</td>
                    <td>
                {% endif %}
                <td>
                    <a href="{{ path('categories_show', {'id': category.id}) }}">Voir</a>
                    <a href="{{ path('categories_edit', {'id': category.id}) }}">Modifier</a>
                </td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categories_new') }}">Create new</a>
{% endblock %}
